*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  line-height: 1.15;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
}

.d-inline-block {
  display: inline-block;
}

@mixin layout($columns, $gap) {
  flex: calc((100% / #{$columns}) - #{$gap} + (#{$gap} / #{$columns}));
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
